<% provide :title, @user.name %>
<div class="row">
  <aside class="col-md-3">
    <%= image_tag @user.avatar.url, size: Settings.avatar.image_size %>
    <h3>
      <%= @user.name %><br>
      <%= @user.email %>
    </h3>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
  </div>
   <%= render "shared/feed" %>
</div>
