<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
     <nav>
      <ul class="nav nav-pills navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Work List", "#" %></li>
       <li><%= link_to "Category", "#" %></li>
      <li><%= link_to "Lesson", "#" %></li>
      <li><%= link_to "Result", "#" %></li>
      <li><%= link_to "Member", "#" %></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
