<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav nav-pills navbar-nav">
        <li><%= link_to t("header.home"), root_path %></li>
        <li><%= link_to t("header.work_list"), "#" %></li>
        <li><%= link_to t("header.category"), "#" %></li>
        <li><%= link_to t("header.lesson"), "#" %></li>
        <li><%= link_to t("header.result"), "#" %></li>
        <li><%= link_to t("header.member"), "#" %></li>
      </ul>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("header.log_in"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
